@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.container {
    text-align: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    margin: 100px auto;
    width: 50%;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #00f;
    font-weight: bold;
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
    background: #00f;
    color: #fff;
}
